body {
    width: 1400px;
    height: 1400px;
    border: 2px solid black;
    margin-left: 230px;
    margin-bottom: 650px;
}

main {
    margin-left: 100px;
    display: grid;
    grid-template-columns: 5fr 2fr;
    /*  left side is for defining how wide first column width would be and vice-versa */
}

h3 {
    font-size: 23px;
    font-weight: 500;
    line-height: 33px;
}

h4 {
    font-size: 20px;
}

#about,
#experience,
#education,
#project {
    grid-column: 1;
    /*  to define at which position eleement will reside, in this case 4 elements choose to be resided in the first column only */
}

#skill {
    grid-row: 2/6;
    grid-column: 2;
    margin-left: 60px;
}

#links {
    grid-row: 1/6;
    grid-column: 2;
    /*  to define at which position eleement will reside, in this case 1 element choose to be resided in the second column only */
    margin-left: 60px;
}

#language {
    grid-row: 3/6;
    grid-column: 2;
    /*  to define at which position eleement will reside, in this case 1 element choose to be resided in the second column only */
    margin-left: 60px;
    margin-top: 100px;
}

p {
    font-size: 20px;
}

em {
    color: rgb(108, 34, 226);
    font-weight: 800;
}

a {
    color: rgb(108, 34, 226);
    text-decoration: none;
}

span {
    margin-left: 250px;
}

li {
    font-size: 23px;
    margin-bottom: 16px;
}

header {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
    color: rgb(141, 85, 233);
}

.topic a {
    color: rgb(44, 38, 38);
}

nav {
    width: 1400px;
    height: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(230, 160, 166);
}

nav .name {
    margin-left: 110px;
    margin-top: 20px;
}

.name h4 {
    margin-top: -20px;
}

.name h2 {
    font-size: 40px;
}

nav .topic {
    width: 680px;
    margin-right: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topic h3 {
    font-weight: 550;
}